@import './mixins.scss'; 
@font-face {}

html {
font-size: 16px;
line-height: 1.4;}

body {
	margin: 0;}

* {
	box-sizing: border-box;}

section {
	padding: 2vh 5vw 6vh;
	border-bottom: 1px solid;}
	
// REUSABLES
.cta-btn {
	display: inline-block;
	text-decoration: none;
	padding: 0.25em 1em;
	margin-bottom: 1em;
	border: 1px solid;}
	
.text-centered {
	text-align: center;}

.label {
	text-transform: uppercase;
	margin-block: 0;
	font-family: sans-serif;
	font-weight: bold;
}